div.prep {
    display: flex;
    justify-content: flex-end;
}

div.controls {
    display: flex;
    flex-direction: column;

    width: 160px;
    /*margin: 2px;*/
}

div.charts, .list-compared-activities {
    border-style: double;
    border-width: 2px;
    border-color: lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    height: 250px;
    max-width: 670px;
    padding: 10px;
}

div.left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.control-elements {
    margin-top: 5px;
    margin-bottom: 2px;
    margin-left: 2px;
    font-size: 15px;
}

/*.control-elements.select.z-select {*/
/*    height: 30px;*/
/*    line-height: 30px;*/
/*}*/

/*line chart #*/
.chartImage {
    width: 350px;
}

.control-elements.select {
    width: 155px;
    height: 35px;
    line-height: 35px;
}


/*compare ! chart #8*/
button.time-period {
    width: 100px;
    padding: 3px;
    color: grey;
    border-radius: 5px;
    /*background: WhiteSmoke;*/
    border-width: 2px;
    border-style: double;
    border-color: grey;
    margin: 0 5px 0px 5px;
}

.list-compared-activities {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /*margin-top: 19px;*/
    border: lightgrey;
    padding: 8px;
    height: 90px;
    border-radius: 5px;
    width: 425px;
    align-items: center;
    overflow-y: auto;
}

div.result {
    display: flex;
    flex-direction: row;
    /*background: WhiteSmoke;*/
    border-radius: 21px;
    height: 35px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.column {
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.compare-name {
    width: 140px;
    padding-left: 20px;
}

.arrow-image {
    width: 40px;
}

.compare-value {
    width: 50px;
}

.add-image-icon, .delete-image-icon {
    width: 20px;
    cursor: pointer;
    margin: 0 2px 0 2px;
}

.charts {
    width: 525px;
    border-style: double;
    border-width: 2px;
    border-color: lightgrey;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    height: 250px;
    max-width: 650px;
    padding: 10px;
    justify-content: flex-start;
}

.control-elements.z-datebox {
    width: 150px;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.control-elements.select.z-select {
    width: 155px;
    height: 35px;

}

row.time-period-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.control-label {
    padding: 0 10px 0 10px;
}

div.controls-block {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.chartImage {
    width: 350px;
}

.row.datebox {
    padding: 0px 5px 10px 5px;
}

.element-name {
    font-weight: bold;
}